<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Game </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.js"></script>
</head>
<body>

<script>
    var bgImg = "{{url_for('static', filename='Images/background.jpg')}}";
    var groundImg = "{{url_for('static', filename='Images/black_ground.png')}}";

    var playerImg = "{{url_for('static', filename='Images/player.png')}}";
    var spikesImg = "{{url_for('static', filename='Images/spikes.png')}}";
    var fireballImg = "{{url_for('static', filename='Images/fireball.png')}}";
    var health1Img = "{{url_for('static', filename='Images/health1.png')}}";
    var health2Img = "{{url_for('static', filename='Images/health2.png')}}";
    var health3Img = "{{url_for('static', filename='Images/health3.png')}}";
    var health4Img = "{{url_for('static', filename='Images/health4.png')}}";
    var health5Img = "{{url_for('static', filename='Images/health5.png')}}";
    var health6Img = "{{url_for('static', filename='Images/health6.png')}}";
    var health7Img = "{{url_for('static', filename='Images/health7.png')}}";
    var health8Img = "{{url_for('static', filename='Images/health8.png')}}";
    var health9Img = "{{url_for('static', filename='Images/health9.png')}}";
    var health10Img = "{{url_for('static', filename='Images/health10.png')}}";

</script>
<script src="{{ url_for('static', filename='/JavaScript/main.js') }}"> </script>
<script src="{{ url_for('static', filename='/JavaScript/EnvironmentSetup.js') }}"> </script>
<script src="{{ url_for('static', filename='/JavaScript/Projectile.js') }}"> </script>
<script src="{{ url_for('static', filename='/JavaScript/Obstacle.js') }}"> </script>
<script src="{{ url_for('static', filename='/JavaScript/Ground.js') }}"> </script>
<script src="{{ url_for('static', filename='/JavaScript/HealthBar.js') }}"> </script>
<script src="{{ url_for('static', filename='/JavaScript/Player.js') }}"> </script>

</body>
</html>